
html {
    overflow-y: scroll;
}


body {
    padding-top: 80px;
}


#datepicker{
    height:100%;
    font-size: 1.5em;
    margin-bottom:20px;
}


@media (max-width:400px){
    #datepicker{
	font-size: 1.2em;
    }
}


.dp-marked-date .ui-state-default {
    background: #4682B4;
    color: #FFF;
}

#event h3{
    max-width:80%;
}

#day-events .event-hour{
    display:inline-block;
    margin:5px 3px 5px 3px;
}

pre{
    white-space: pre-wrap;
    word-break: normal;
}


/* How to remove Firefox's dotted outline on buttons */
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline : 0;
}



/* Sticky footer styles
   -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: black;
    color: #FFF;
    font-size:0.9em;
}




/*Hide CSS*/
#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

#tabs .ui-tabs-panel { 
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
    padding:5px;
}