<div id="day-events" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{.StringDate}}</h3>
  </div>
  <div class="panel-body">
   {{ if not .Events }}
    <p>No hay eventos</p>
    {{else}}
    <div class="list-group">
   {{ $date:=.Date }}
   {{range .Events}}
      <a href="/notes/event?id={{.Id}}" class="list-group-item">
	{{$hour:= .GetStampHour $date}}
	{{if $hour}}
	<span class="label label-primary event-hour pull-right">{{$hour}}</span>
	{{end}}
	<strong class="list-group-item-heading">{{.Title}}</strong>
	<p class="list-group-item-text">{{.GetResumeBody}}</p>
      </a>
   {{end}}
    </div>
    {{end}}
  </div>

</div>
