<div id="day-events" class="panel panel-default">
  <div class="panel-heading  clearfix">
    <div class="btn-group pull-right">
      <a href="/notes/new?date={{.FormParamDate}}" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
    <h3 class="panel-title">{{.StringDate}}</h3>
  </div>
  <div class="panel-body">
   {{ if not .Events }}
    <p>No hay eventos</p>
    {{else}}
    <div class="list-group">
   {{ $date:=.Date }}
   {{range .Events}}
      <a href="/notes/event?id={{.Id}}" class="list-group-item">
	{{$hour:= .GetStampHour $date}}
	{{if $hour}}
	<span class="label label-primary event-hour pull-right">{{$hour}}</span>
	{{end}}
	<p class="list-group-item-heading">{{.Title}}</p>
	<p class="list-group-item-text ellipses">{{.GetResumeBody}}</p>
      </a>
   {{end}}
    </div>
    {{end}}
  </div>

</div>
