<div id="tasks-todo" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tareas pendientes</h3>
  </div>
  <div class="panel-body">
   {{ if not . }}
    <p>No hay nada pendiente</p>
    {{else}}
    <div class="list-group">
     {{range .}}
      <a href="" class="list-group-item">
	{{if .HasDeadline .Deadline}}
	<p class="list-group-item-heading">
	  <span class="text-danger"><span class="glyphicon glyphicon-time"></span></span>
	  <span class="text-danger"><strong>{{.Title}}</strong> <small>(termina en <span class="localdate">{{.GetStampDate .Deadline}})</span></small></span>
	</p>
	{{else}}
	<p class="list-group-item-heading">{{.Title}}</p>
	{{end}}
	<p class="list-group-item-text full-body">{{.GetTextBody}}</p>
      </a>
   {{end}}
    </div>
    {{end}}
  </div>

</div>
